                                         
<aside class="sidebar">
    <h2>PULMO TECHNOLOGIES</h2>
    <ul>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="products/product-list.html">Products</a></li>
        <li><a href="products/general-machine.html">Machines</a></li>
        <li><a href="customers/customer-list.html">Customers</a></li>
        <li><a href="invoices/invoice-list.html">Invoices</a></li>
        <li><a href="vendors/list-vendor.html">Vendors</a></li>
        <li><a href="expenses/expense-list.html">Expenses</a></li>
        <li><a href="reports/sales-report.html">Reports</a></li>
        <li><a href="analytics/sales-chart.html">Analytics</a></li>
    </ul>
</aside>
